# yaml-language-server: $schema=https://github.com/epics-containers/ec-helm-charts/releases/download/4.0.0/argocd-apps.schema.json

# This file configures an ArgoCD app of apps that represent a
# group of beamline or accelerator IOCs and services. The configuration of the
# services are in the separate repo indicated by repoURL.

# This repostory only controls which services and which versions of those
# services should be running on the cluster. It is recommended that this repo
# be updated by a CI/CD pipeline or configuration tools only.

project: p49-beamline
destination:
  name: pollux
  namespace: p49-beamline
source:
  repoURL: https://github.com/epics-containers/p49-services
  targetRevision: add-authn-squash

services:
  # Each item is of the form:
  #   service: service name as it appears in K8S (statefulset/deployment name)
  #     targetRevision: optional override for targetRevision above
  #     repoURL: optional override for git repo to source the helm chart from
  #            the path is always services/<service> within that repo
  #     removed: set to true to remove the service from the cluster
  #     enabled: set to false to stop a service
  p49-proxy:
  p49-epics-pvcs:
  p49-epics-opis:

  # daq services ###############################################################
  p49-rabbitmq:
  p49-blueapi:
  p49-nexus:
  p49-tiled:

  # IOCs
  bl49p-ea-panda-01:
    enabled: false
  bl49p-ea-dcam-01:
  bl49p-ea-dcam-02:
  bl49p-mo-ioc-01:
